apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ compute_replicas }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ control_plane_replicas }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: {{ cluster_network_host_prefix }}
  machineNetwork:
  - cidr: {{ machine_network_cidr }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ service_network_cidr }}
platform:
  none: {}
pullSecret: '{{ pull_secret | to_json }}'
sshKey: '{{ ssh_public_key }}'
